.account {
  margin-bottom: 40px;
  padding: 30px 25px;
  background: #1c1d24;
  border: 1px solid rgba(109, 125, 147, 0.15);
  box-shadow: 4px 4px 20px -10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.title {
  margin-bottom: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.account {
  :global(.swiper-pagination-bullets) {
    display: flex;
    justify-content: center;
    margin: 5px 0 15px;
  }
}

.bullet {
  display: block;
  width: 5px;
  height: 5px;
  margin: 0 2px;
  border-radius: 50%;
  background: #037bcb;
  opacity: 0.4;

  &Active {
    opacity: 1;
  }
}

.addButton {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  background: #111111;
  border: 0.5px solid rgba(109, 125, 147, 0.4);
  border-radius: 6px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  color: #6d7d93;
}
