@import './variables.scss';
.app {
  color: var(--black);
  height: 100vh;
  font-family: 'Inter', sans-serif;

  display: grid;

  background: var(--lightBlackBackground);
  gap: 16px;
  grid-template-columns: 90px auto 20rem;
  overflow: hidden;
}
